.order{
    width: 100vw;
    height: 100vh;
}

.order .fade{
    width: 100vw;
    height: 100vh;
     background: rgba(32, 32, 32, 0.4);
 }

 .order-list{
    width: 50%;
    height: 100vh;
    display: flex;   
}


@media screen and (max-width:1024px) {
    .order-list{
        width: 100%;
    }
}