.dashboard-menu {
    background: #FBFBFB;
    padding: 10px 60px;
    width: 25%;
    min-height: 100vh;
}

.dashboard-menu h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.dashboard-menu img{
    width: 60px;
    height: auto;
}

.dashboard-menu li {
    padding: 10px 40px;
    color: #9b9a9a;
 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
}

.dashboard-menu li:hover{
    background: #9b9a9a;
    color:#000000;
}